{% extends 'base.html' %}

{% block head  %}
<title>The Wedding</title> 
{% endblock %}

{% block body  %} 
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <p>Welcome to the Wedding website! We will talk about our first meeting, location and everything else!</p>
		<p>
          <a class="btn btn-primary" href="/rsvp" role="button">RSVP</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}