{% extends 'base.html' %}

{% block head  %}
<title>Story</title> 
{% endblock %}

{% set path = url_for('.static',filename='images/photos') %}
{% block body  %}
<h1>This is our story!</h1>
<p>Content Here</p>
<p>The image below is of us first dating!
<div class="image center-left">
  <img width=300 src="{{ path }}/1styr.jpg" />
</div>
<br>
<hr>
<br>
<p>More Content Soon</p> 
<div class="image">
  <img width=300 src="{{ path }}/house.jpg" />
</div>
<br>
<hr>
<br>
<p>Content 3</p>
<div class="image-row">
  <img width=300 src="{{ path }}/inverness_wall.jpg" />
  <img width=415 src="{{ path }}/inverness.jpg" />
</div>
<p>Engagement Content</p>
<div class ="image">
    <img width=300 src="{{ path }}/engagement.jpg"  />
</div>



{% endblock %}
