{% extends 'base.html' %}

{% block head  %}
<title>Story</title> 
{% endblock %}

{% block body  %}
<h1>This is our story!</h1>
<p>Our story begins when we first met in 2013 at a SMU/UNT football game. 
Our mutual friend Joe invited us to the game and that's where we met. 
My roommate at the time had to get back, so the game was cut short, leaving at half time. 
I didn't say much to her at the time, but our next meeting would be much more eventful.</p>
<br>
<br>
<hr>
<p>One of our favorite places to attend at first in DFW was Cowboy Red River. 
{% endblock %}