{% extends 'base.html' %}

{% block head  %}
<title>Story</title> 
{% endblock %}

{% set path = url_for('.static',filename='images/photos') %}
{% block body  %}
<h1>This is our story!</h1>
<p>Our story begins when we first met in 2013 at a SMU/UNT football game in Denton, Texas. 
Our mutual friend Joe invited us to the game, so I agreed to come hang out. 
My roommate at the time had to get back, so the game was cut short, leaving at half time. 
I didn't say much to her at the time, but our next meeting would be much more eventful. 
During our next meeting, we went to a few bars in Denton, the rest is history!</p>


<p>The image below is of us first dating or around that time!
<div class="image center-left">
  <img width=300 src="{{ path }}/1styr.jpg" />
</div>
<br>
<hr>
<br>
<p>July 2017 we bought our first house together! We had been looking for months to find a place. 
<div class="image">
  <img width=300 src="{{ path }}/house.jpg" />
</div>
<br>
<hr>
<br>
<p>June 2018, we got to visit Scotland together! Some of the places we got to check out are Edinburgh (we stayed here the entire time), Inverness and Glasgow. 
Additionally, we got to have a nice day out on the beach of Portobello beach. We also got to attend a Killers concert in Glasgow!</p>
<div class="image-row">
  <img width=300 src="{{ path }}/inverness_wall.jpg" />
  <img width=415 src="{{ path }}/inverness.jpg" />
</div>
<p>On December 31st, 2019, I finally got on one knee in Brooklyn New York and popped the question! I had help from Joe and Kathryn planning out the engagement,
getting the ring, all of it. The location was the Brooklyn Bridge Park, somewhere that Joe and Kathryn suggested and worked out perfectly!
</p>
<div class ="image">
    <img width=300 src="{{ path }}/engagement.jpg"  />
</div>



{% endblock %}